

body {
  background-color:#ecfdfc;
}

.wrapper {
  height: 210px;
  width: 327px;
  margin: 25px auto;
  border-radius: 7px 7px 7px 7px;
  /* VIA CSS MATIC https://goo.gl/cIbnS */
  -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
}

.product-img {
  float: left;
  height: 210px;
  width: 163px;
}

.product-img img {
  border-radius: 7px 0 0 7px;
}

.product-info {
  float: left;
  height: 210px;
  width: 163px;
  border-radius: 0 7px 10px 7px;
  background-color: #ffffff;
}

.product-text {
  height: 75px;
  width: 81px;
}

.product-text h1 {
  margin: 0 0 0 19px;
  padding-top: 26px;
  font-size: 19px;
  color: #474747;
}

.product-text h1,
.product-price-btn p {
  font-family: 'Bentham', serif;
}

.product-text h2 {
  margin: 0 0 23px 19px;
  font-size: 8px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #d2d2d2;
  letter-spacing: 0.2em;
}

.product-text p {
  height: 63px;
  margin: 0 0 0 19px;
  font-family: 'Playfair Display', serif;
  color: #8d8d8d;
  line-height: 1.7em;
  font-size: 7px;
  font-weight: lighter;
  overflow: hidden;
}

.product-price-btn {
  height: 51px;
  width: 163px;
  margin-top: 38px;
  position: relative;
}

.product-price-btn-old {
  height: 51px;
  width: 163px;
  margin-top: 8px;
  position: relative;
}

.product-price-btn p {
  display: inline-block;
  position: absolute;
  top: -7px;
  height: 25px;
  font-family: 'Trocchi', serif;
  margin: 0 0 0 19px;
  font-size: 14px;
  font-weight: lighter;
  color: #474747;
}

span {
  display: inline-block;
  height: 50px;
  font-family: 'Suranna', serif;
  font-size: 34px;
}



.product-price-btn button:hover {
  background-color: #79b0a1;
}